#main{
   background-color: #4da0fe;
   background-image: url("img/pattern.png");
   background-repeat: repeat-x;
}

.page{
   margin-left: 10px;
   margin-right: 10px;
}

body{
   margin: 0px;
}

#logo{
   margin-top: 60px;
   margin-bottom: 12px;
   margin-left: 10px;
   width: 250px;
}
  
#pattern{
    width: 250px;
}

#titolo{
   font-size: 56px;
   margin-bottom: 5px;
   margin-top: 20px;
}

.autore{
   margin-top: 5px;
   margin-bottom: 5px;
   color: #a8a8a8; 
}

#autore2{
   color:#5fc1f0;
}

.tim{
   height: 535px;
   margin-top: 25px;
}

.informazioni-foto{
   margin-top: 2px;
   margin-bottom: 10px;
   font-size: 15px;
}

.testo{
   font-size: 22px;
   margin-top: 24;
}

.evidenziato{
   background-color: #fefe01; 
}

.lista{
   margin-top: 40px;
   margin-bottom: 40px;
   font-size: 22px;
   padding: 20px;
}

.padding{
   padding: 0px;
   

}
.padding table,.padding th, .padding td{
   border-collapse: collapse;
}


.tabella{
   font-size: 22px;
   width: 100%;
}

#tabella1{
   color: white;
   background-color: #36b2e8; 
   text-align: left;
}

.sfondo1{
   background-color: #b1e5f2;
}

.lastcolumn{
   width: 50%;
}

.suggerimenti{
   margin-top: 40px;
   color: #a8a8a8; 
}

.monitor img {
   float: left;
   
}

   .caption span strong {
      font-weight: bold;
      font-size: 11px;
      text-transform: uppercase;
      display: block;
      padding-bottom: 5px;
   }
   