#main{
   background-color: #4da0fe; 
  
}

  
#pattern{ width: 250px;

}

#titolo{
   font-size: 56px;
   margin-bottom: 5px;
   margin-top: 20px;
}

.autore{
   margin-top: 5px;
   margin-bottom: 5px;
   color: #a8a8a8; 
}

#autore2{
   color:#5fc1f0;
}

.tim{
   height: 535px;
   margin-top: 25px;
}

.informazioni-foto{
   margin-top: 2px;
   margin-bottom: 10px;
   font-size: 15px;
}

.testo{
   font-size: 22px;
   margin-top: 24;
}

.evidenziato{
   background-color: #fefe01; 
}

.lista{
   margin-top: 40px;
   margin-bottom: 40px;
   font-size: 22px;
   }

   .padding{
      padding: 0px;
   }

   .tabella{
      font-size: 22px;
   }

   #tabella1{
      color: white;
      background-color: #36b2e8; 
   }

   .sfondo1{
      background-color: #b1e5f2; 
      margin: 50px;
   }

   .suggerimenti{
      margin-top: 40px;
      color: #a8a8a8; 
   }

   .monitor{ 
   }
   